/* GAME */


.game {
    width:100%;
    height:600px;
    background-color:darkgreen;
    position:relative;
}


/* PLAYERS */

.player1{
    left:0;
    bottom:150px;
}

.player2{
    left:0;
    bottom:300px;
}

.player3{
    left:150px;
    top:0;
}

.player4{
    top:0;
    left:50%;
    transform: translate(-50%, 0);
}

.player5{
    right:150px;
    top:0;
}

.player6{
    right:0;
    bottom:300px;
}

.player7{
    right:0;
    bottom:150px;
}

.other-player{
    position:absolute;
    width:195px;
    height:100px;
    background: url(../images/red_back.png);
    background-size: 65px 100px;
    background-repeat: repeat-x;
    font-size: x-large;
    text-align:center;
    text-overflow:clip;
}

.current-player{
    color:blue;
}

.current-player-buttons{
    position:absolute;
    bottom:150px;
    left:50%;
    transform: translate(-50%, 0);
}

.allow-break-button{
    position:absolute;
    bottom:150px;
    left: 50%;
    transform: translate(-50%, 0);
}


/* CARDS */


.own-cards{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%, 0);
}

/* Any card */
.card{
    width:65px;
    height:100px;
}

/* Group of cards together */
.cards{
    margin-bottom: 0;
    display: flex;
}

/* Cards currently played on the table */
.table-cards{
    background-color:darkslategray;
    display: flex;
    height:140px;
    position:absolute;
    bottom:200px;
    width:60%;
    left:50%;
    transform: translate(-50%, 0);
}

/* Div that contains bottom card and top card to stack */
.table-card-pair{
    position:relative;
    width:65px;
    height: 130px;
}

.bottom-card{
    position:absolute;
    top:0;
}

.top-card{
    position:absolute;
    bottom:0;
}

.deck{
    position:absolute;
    margin:auto;
    display:flex;
    width:160px;
    bottom:60%;
    left:50%;
    transform:translate(-50%, 0);
}