{% extends "layout.html" %}
{% block content %}

<!-- SocketIO JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<!-- Custom SocketIO JS-->
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
<!-- Set useful variables -->
<script type="text/javascript">
    const username = `{{ player.username }}`;
    const imageDir = `{{ url_for('static', filename='images/') }}`;
    var currentPlayer = `{{ current_player }}`;
</script>

        <div class="game" id="game">
            <!-- All players in the game -->
            <div id="otherplayers">
                {% for other_player, pos in other_players %}
                    <div class="other-player player{{ pos }} {{ 'allowed-break-player' if other_player in allowed_break_players }}" id="player{{ other_player.username }}">
                        <p>{{ other_player.username }}</p>
                        <p id="cardcount{{ other_player.username }}">{{ other_player.get_card_count() }}</p>
                        <div class="chat-popup" id="chat{{ other_player.username }}"></div>
                    </div>
                {% endfor %}
            </div>
            <!-- The cards to break -->
            <div class="cards table-cards" id="tablecards">
                {% for bottom_card, top_card in game.table_cards.items() %}
                    <div class="table-card-pair">
                        <img class="card bottom-card" id="card{{ bottom_card }}"
                            src="{{ url_for('static', filename='images/' + bottom_card.get_image()) }}"/>
                        {% if top_card %}
                            <img class="card top-card" id="card{{ top_card }}"
                                src="{{ url_for('static', filename='images/' + top_card.get_image()) }}"/>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="deck">
                <img class="card" id="trumpcard"
                    src="{{ url_for('static', filename='images/' + game.trump_card.get_image()) }}"/>
                <img class="card" id="deck"
                    src="{{ url_for('static', filename='images/red_back.png') }}"/>
                <p style="font-size:xx-large;" id="deckcount">
                    {{ game.deck.get_card_count() }}
                </p>
            </div>
            {% if not spectating %}
                <div id="onlyplayers">
                    <!-- This only shows up on current player's screen -->
                    <div class="current-player-buttons" style="display:none;" id="currentplayerbuttons">
                        <button class="btn btn-success" id="breakcards">Break cards</button>
                        <button class="btn btn-danger" id="takecards">Take cards</button>
                        <button class="btn btn-info" id="passcards">Pass using cards</button>
                        <button class="btn btn-secondary" id="passtrump">Pass using trump</button>
                    </div>
                    <button class="btn btn-success allow-break-button" id="allowbreakbutton" 
                        disabled="1">Allow break</button>
                    <div class="cards own-cards" id="owncards">
                        {% for card in player.cards %}
                            <img class="card"
                                src="{{ url_for('static', filename='images/' + card.get_image()) }}"
                                id="card{{card}}"/>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
<div class="row">
    <div class="col-md-4">
        <h1>Game: {{ game.name }}</h1>
        <h2>Game id: {{ game.id }}</h2>
    </div>
    <div class="col-md-2">
        <h2>Trump</h2>
            <img class="card" id="trumpcard-side"
                src="{{ url_for('static', filename='images/' + game.trump_card.get_image()) }}"/>
    </div>
    <div class="col-md-2">
        <h2>Players</h2>
        <div id="players_list">
            {% for other_player in game.players %}
                <p id="sideplayer{{other_player.username}}">{{ other_player.username }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <h2>Game control</h2>
        <button id="chat_button" class="btn btn-dark control-button">Chat</button>
        <div id="chat_options" class="chat-closed">
            {% for option in chat_options %}
                <span class="btn btn-secondary chat-option">{{ option | safe }}</span>
            {% endfor %}
        </div>
        <button id="start_button" class="btn btn-primary control-button">New game</button>
        <a href=" {{ url_for('main.home') }} " id="leave_button" class="btn btn-danger control-button">Leave game</a>
    </div>
</div>

{% endblock content %}
