{% extends "layout.html" %}
{% block content %}

<!-- SocketIO JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<!-- Custom SocketIO JS-->
<script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
<!-- Get username -->
<script type="text/javascript">
    const username = `{{ username }}`;
</script>

<input type="text" id="test_input"/>
<button type="button" id="test_button">Send</button>

<div id="test_display"></div>

{% endblock content %}