{% extends "layout.html" %}
{% block content %}

<!-- SocketIO JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<!-- Custom SocketIO JS-->
<script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
<!-- Get username -->
<script type="text/javascript">
    const username = `{{ username }}`;
</script>

<h1>Game: {{ game.name }}</h1>
<h2>Game id: {{ game.id }}</h2>

<div class="row">
    <div class="col-md-8">
        <div class="game">
            {% for player in game.players %}
                {% if player.username != username %}
                    <div class="other-player" id="{{ player.username }}">
                        {% if player == game.current_player %}
                            <p class="current-player">{{ player.username }}</p>
                        {% else %}
                            <p>{{ player.username }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="cards">
                <img class="card" id="trumpcard"
                    src="{{ url_for('static', filename='images/' + game.trump_card.get_image()) }}"/>
                <img class="card" id="deck"
                    src="{{ url_for('static', filename='images/red_back.png') }}"/>
                <p style="font-size:xx-large;" id="deckcount">
                    {{ game.deck.get_card_count() }}
                </p>
            </div>
            <div class="cards" id="owncards">
                {% for card in player.cards %}
                    <img class="card"
                        src="{{ url_for('static', filename='images/' + card.get_image()) }}"
                        id="card{{card}}"/>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Trump</h2>
            <img class="card" id="trumpcard-side"
                src="{{ url_for('static', filename='images/' + game.trump_card.get_image()) }}"/>
        <h2>Players</h2>
        <div id="players_list">
            {% for player in game.players %}
                <p id="player{{player.username}}">{{ player.username }}</p>
            {% endfor %}
        </div>

        <button id="start_button" class="btn btn-primary">New game</button>
        <a href=" {{ url_for('main.home') }} " id="leave_button" class="btn btn-danger">Leave game</a>
    </div>
</div>

{% endblock content %}