{% extends "layout.html" %}
{% block content %}

<h1>Rules</h1>
<h2>Preliminary</h2>
    Suit of the card
    <ul>
        <li>
            Hearts &#10084;
        </li>
        <li>
            Diamonds &#9830;&#65039;
        </li>
        <li>
            Clubs &#57871;
        </li>
        <li>
            Spades &#9824;&#65039;
        </li>
    </ul>

    Symbol of the card
    <ul>
        <li>
            1-10
        </li>
        <li>
            Jack
        </li>
        <li>
            Queen
        </li>
        <li>
            King
        </li>
        <li>
            Ace
        </li>
    </ul>

<h2>The game</h2>
    
<h3>The objective</h3>
    <p>
        The objective of the game is to lose all your cards.
        The last player who has cards left loses, he is the
        durak (fool).   
    </p>
    <p>
        The player with the lowest trump card is the first
        player allowed to throw cards (also called attacking).
        He can throw any number of cards to the player next to
        him, but they all need to be the same symbol. 
        The next player should now start breaking these cards
        (also called defending). Both neighbors of the defending
        player can throw new cards onto the table, as long as the
        cards have the same symbol as any of the cards on the
        table and the player has enough cards to break every card.
        If the player can break all cards and the other players
        cannot throw any more cards (they allow breaking), it's
        this player's turn to start throwing cards.
        If the player cannot break all cards, he has to take the
        cards into his hands. The next player can then start
        throwing cards again to his next neighbor. 
    </p>
<h3>Trump<h3>
    <p>
        Trump is decided at the beginning of the game. 
        The first card popped out of the deck decides the trump suit.
        A trump card can be used to break any non-trump card, or
        to break a lower trump card. Trump cards can only be broken
        by higher trump cards.
    </p>
<h3>Breaking cards</h3>
    <p>
    </p>
<h3>Taking cards</h3>
<h3>Passing cards</h3>

<h2>Cheating</h2>
<h3>Stealing the trump card<h3>
    <p>
        You can replace the trump card by one of the cards
        in your hand. This doesn't change the trump but you
        get the trump card to play with as a regular card. 
    </p>
<h3>Throwing wrong cards<h3>


{% endblock content %}
